{% extends 'EnovancePortalBundle::base_layout.html.twig' %}

{% block title %}Portal | Login{% endblock %}

{% block css %}
<link href="{{ asset("/css/login.css") }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block login_layout %}
<div class="row-fluid">
    <div class="span4 offset4" id="loginpage">
        {% block fos_user_content %}{% endblock %}
    </div>
</div>
{% endblock %}
