{% extends 'EnovancePortalBundle::base_layout.html.twig' %}

{% block title %}Portal | Login{% endblock %}

{% block login_layout %}

<div class="row">
    <div class="span4 offset4 well">
        {% block fos_user_content %}{% endblock %}
    </div>
</div>
{% endblock %}
