#admin {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    height: 90%;
    background-color: #FFFFFF;
}

#row-admin {
    height: 100%;
}

#a-sidebar {
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
    background-image: url('/bundles/enovanceportal/images/texture-noise-grey.jpg');
    background-repeat: repeat;
    background-color: #000000;
    height: 100%;
    width: 15%;
}

#a-sidebar h2 {
    height: 50px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #CACACA;
    margin: 10px 0px 0px 0px;
    color: #FFFFFF;
    font: 18px/1.5 "Helvetica Neue","Helvetica","Arial","Liberation Sans","FreeSans",sans-serif
}

#a-content {
    margin-left: 0px;
    width: 85%;
}

#admin-content {
    padding-left: 10px;
    padding-top: 10px;
}

#a-section-header {
    zoom: 1;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 0 4px 0 0;
    -moz-border-radius: 0 4px 0 0;
    -webkit-border-radius: 0 4px 0 0;
    background: #F3F3F3;
    border-bottom: 1px solid #CACACA;
    min-height: 60px;
}

#a-section-header h2 {
    margin: 0px 0px 0px 0px;
}

.a-search {
    float:right;
    padding:0 20px 0 0;
    position:relative;
}

.a-search .a-search {
    border-radius:28px 28px 28px 28px;
    -moz-border-radius:28px 28px 28px 28px;
    -webkit-border-radius:28px 28px 28px 28px;
    box-shadow:inset 0 1px 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.1);
    float:left;
    border:0;
    margin:13px 0 0 0;
    background:#FFFFFF;
    border:1px solid #BEBEBE;
    font-size:13px;
    padding:6px 25px 7px 9px;
    outline:none;
}

.a-search .a-search-button {
    text-indent:-10000px;
    overflow:hidden!important;
    background:url(/bundles/enovanceportal/images/search-small.png) 0 0 no-repeat;
    position:absolute;
    width:11px;
    height:14px;
    right:30px;
    top:24px;
    border:0;
    cursor:pointer;
    line-height:20px;
}

.submenu > span {
    color: #FFFFFF;
    font-size:18px;
    text-shadow: 0px 1px 0px rgba(0,0,0, .35);
    text-align: center;
    font-weight: bold;
}

#a-sidebar > ul > li > .nav-stacked {
    display: none;
}

#a-sidebar > ul > .current_ancestor > .nav-stacked  {
    display: block;
}

 
.submenu > .nav-stacked {
    display: block;
}

#a-sidebar .submenu > ul > li > a {
    border: none;
    display: block;
    color: #a3a3a3;
    text-shadow: 0 1px 0 #000;
}

#a-sidebar ul > li > a:hover {
    background: none;
}

.submenu > ul > li {
    border-left: none;
    border-right: none;
    border-bottom:1px solid #292929;
    border-top:1px solid #494949;
    margin-bottom: 0px;
}

.submenu > ul > .first {
    border-top:1px solid #292929;
}

#a-sidebar > ul > .submenu > ul > .active > a {
    background:url('/bundles/enovanceportal/images/admin-subnav-arrow.gif') right center no-repeat transparent;
    color: #FFFFFF;
}

.submenu > span {
    margin-left: 5px;
}

#a-sidebar > ul {
    margin-top: 10px;
}
