#dashboard {
  background-color: white;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 8px;
  min-height: 100%;
}

#dashboard .gs_w {
  border : 1px solid #000000;
  list-style-type: none;
}
