{% extends 'EnovancePortalBundle::base_layout.html.twig' %}

{% block title %}Portal | Graphs{% endblock %}

{% block css %}
{{ parent() }}
<link href="{{ asset("bundles/enovancenumeter/css/numeter.css") }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block portal_layout %}
<div class="span2" id="sidebar">
sidebar
</div>
<div class="span10" id="numeter-content">
numeter-content
</div>
{% endblock %}
