<!DOCTYPE html>
<html lang="en">
    <title>{% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{ asset("/bundles/braincraftedbootstrap/css/bootstrap-responsive.css") }}" rel="stylesheet" type="text/css" />
    {% block css %}{% endblock css %}
    {% block javascript %}{% endblock javascript %}    
    <body>    
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {% block portal_layout %}
            {% endblock portal_layout %}    
        {% else %}
            {% block login_layout %}
            {% endblock login_layout %}
        {% endif %}
    </body>
</html>
