{% extends 'EnovancePortalBundle::base_layout.html.twig' %}

{% block title %}Portal | Dashboard{% endblock %}

{% block css %}
{{ parent() }}
<link href="{{ asset("bundles/enovanceportal/css/dashboard.css") }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block portal_layout %}
<div class="span12" id="dashboard">
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
 this is the dashboard! :)
<!-- this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
 this is the dashboard! :)<br />
-->
</div>
{% endblock %}
